.mainTitle{
    font-size: 20px;
    font-weight: 700;
    /* color: white; */
    padding-bottom: 10px;
  
}

.progress#id{
    margin-top: 8px;
   height: 2px !important;
   /* background-color: grey !important; */
    width: 100px !important;
    height: 0.2rem !important;
}
