.footerContainer{
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid gray;
  height: 80px;
  margin-top: 30px;
  padding-top: 20px;
 color: gray;
 
}

.footerLeft{
    padding-right: 10px;
    color: gray;
}

.footerLeft > a{
text-decoration: none;
color: gray;
margin-right: 10px;
}